<hr>
<div *ngIf = "identity" class="col-lg-6">
    <h1>{{titulo}}</h1>
    <div *ngIf="updateMessage">
        <div class="alert alert-info">
            <strong>{{updateMessage}}</strong>
        </div>
    </div>
    <form class="col-md-10" #userUpdateForm= "ngForm" (ngSubmit) = "onSubmit()">
        <p>
            <label>Nombre</label>
            <input placeholder="Nombre" #name = "ngModel" name = "name" [(ngModel)] = "user.name" type="text" class="form-control" required />
            <span *ngIf = "!name.valid && name.touched">
            * Campo obligatorio
            </span>
        </p>
        <p>
            <label>Apellidos</label>
            <input placeholder="Apellidos" #apellidos ="ngModel" name = "apellidos" [(ngModel)] = "user.surname" type="text" class="form-control" required>
            <span *ngIf="!apellidos.valid && apellidos.touched">
            * Campo obligatorio
            </span>
        </p>

        <p>
            <label>Correo electrónico</label>
            <input placeholder="Correo electr&oacute;nico" #emailRegistro = "ngModel" name = "emailRegistro" [(ngModel)] = "user.email" type="email" class="form-control" required>
            <span *ngIf="!emailRegistro.valid && emailRegistro.touched">
            * Campo obligatorio
            </span>
        </p>

        <div class = "image_for_edit" *ngIf="user.image && user.image !== 'null'">
            <img src="{{url + 'get-image-user/' + user.image}}" alt="">
        </div>
        <p>
            <label for="">Sube tu foto:</label>
            <input type="file" name="" id="" placeholder="Subir imagen" (change) = "fileChooseEvent($event)">
        </p>
        <input type="submit" class="btn btn-primary" value="Actualizar datos" [disabled] = "userUpdateForm.form.invalid">
    </form>
</div>